<html>
<body>
  <p><a href="/">Home</a> > <a href="/buy">Buy</a> > <a href="">Confirm</a></p>
  <h2>Confirm Order Placement</h2>
  <form action="" method="POST">
    {% set cnt={'val':1} %}
    {% for item in items %}
    <p>SNo.:{{cnt['val']}}
    <br/>NAME : {{item[0]}}
    <br/>QUANTITY : {{item[1]}}
    <br/>AMOUNT : {{item[2]}}</p>
    {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
    {% endfor %}
    <p>TOTAL AMOUNT : {{total}}</p>
    <input type="submit" name="choice" value="PLACE ORDER">
    <input type="submit" name="choice" value="CANCEL">
  </form>
</body>
</form>
