<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="">Change Password</a></p>
  </div>
  <h2>Change Password</h2>
  {% if not check %}
    <p>Current Password doesn't match the record</p>
  {% endif %}
  {% if not equal %}
    <p>New Password fields don't match, enter correctly</p>
  {% endif %}
  <form action="" method="POST">
    <table>
      <tr>
        <td>CURRENT PASSWORD :</td><td><input type="password" name="old_psswd"></td>
      </tr>
      <tr>
        <td>NEW PASSWORD :</td><td><input type="password" name="new_psswd"></td>
      </tr>
      <tr>
        <td>CONFIRM NEW PASSWORD :</td><td><input type="password" name="cnfrm_psswd"></td>
      </tr>
    </table>
    <input type="submit" value="Set New Password" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
</body>
</html>
