<html>
<body>
  <p><a href="http://localhost:5000/">Home</a> > <a href="http://localhost:5000/changepassword/">Change Password</a></p>
  <h2>Change Password</h2>
  {% if not check %}
    Current Password doesn't match the record
  {% endif %}
  {% if not equal %}
    New Password fields don't match, enter correctly
  {% endif %}
  <form action="" method="POST">
    <table>
      <tr>
        <td>CURRENT PASSWORD :</td><td><input type="password" name="old_psswd"></td>
      </tr>
      <tr>
        <td>NEW PASSWORD :</td><td><input type="password" name="new_psswd"></td>
      </tr>
      <tr>
        <td>CONFIRM NEW PASSWORD :</td><td><input type="password" name="cnfrm_psswd"></td>
      </tr>
    </table>
    <input type="submit" value="Set New Password">
  </form>
</body>
