<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="">Edit Profile</a></p>
  </div>
  <h2>Edit Profile</h2>
  Signed in as {{name}} -> {{type}} Account
  <form action="" method="POST" onsubmit="return validateForm()">
  <table>
    <tr>
      <td>EMAIL :</td><td>{{email}}</td>
    </tr>
    <tr>
      <td>PHONE :</td><td><input type="tel" name="phone" value="{{phone}}" id="phone"></td>
    </tr>
    <tr>
      <td><b>ADDRESS :</b></td>
    </tr>
    <tr>
      <td>LANDMARK/AREA :</td><td><input type="text" name="area" value="{{area}}" class="address"></td>
    </tr>
    <tr>
      <td>LOCALITY :</td><td><input type="text" name="locality" value="{{locality}}" class="address"></td>
    </tr>
    <tr>
      <td>CITY :</td><td><input type="text" name="city" value="{{city}}" class="place"></td>
    </tr>
    <tr>
      <td>STATE :</td><td><input type="text" name="state" value="{{state}}" class="place"></td>
    </tr>
    <tr>
      <td>COUNTRY :</td><td><input type="text" name="country" value="{{country}}" class="place"></td>
    </tr>
    <tr>
      <td>ZIPCODE :</td><td><input type="text" name="zip" value="{{zip}}" id="zip"></td>
    </tr>
  </table>
  <input type="submit" value="Save Changes" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
</form>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
