<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1></div>
  <ul class="headbar">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Create New Account</a></li>
    {% if signedin %}
      <li><a href="/logout">Logout</a></li>
    {% else %}
      <li><a href="/login">Login</a></li>
    {% endif %}
  </ul>
  {% if signedin %}
    <p><br/>Signed in as {{name}} -> {{type}} Account</p>
    <div class="centerthis">
    <p class="press"><a href="/viewprofile/">View Profiles</a></p>
    <p class="press"><a href="/editprofile">Edit Profile</a></p>
    {% if type=="Customer" %}
      <p class="press"><a href="/buy">Buy Items</a></p>
    {% elif type=="Seller" %}
      <p class="press"><a href="/sell">Sell Items</a></p>
    {% endif %}
    <p class="press"><a href="/changepassword">Change Password</a></p>
    </div>
  {% else %}
    <p><br/>You are not currently signed in. Sign in to view Products/Profiles.</p>
  {% endif %}
  </div>
</body>
</html>
