<html>
<body>
  <p><a href="http://localhost:5000/">Home</a> > <a href="http://localhost:5000/login/">Login</a></p>
  <h2>Login</h2>
  {% if err %}
    Sorry! entered email and password do not match any records
  {% endif %}
  <form action="" method="POST">
    <input type="radio" value="Customer" name="type" checked>Customer <br/>
    <input type="radio" value="Seller" name="type">Seller
    <table>
      <tr>
        <td>EMAIL:</td><td><input type="text" name="email"></td>
      </tr><tr>
        <td>PASSWORD:</td><td><input type="password" name="password"></td>
      </tr>
    </table>
    <input type="submit" value="SUBMIT">
  </form>
</body>
</html>
