<html>
<body>
  <p><a href="/">Home</a> > <a href="/buy">Buy</a> > <a href="">My Cart</a></p>
  <h2>My Cart</h2>
  {% if cart|length==0 %}
  <p>Your Cart is empty right now. <a href="/buy">Click here to Shop for products</a></p>
  {% else %}
  <form action="" method="POST">
    <table>
      <tr>
        <th>SNO.</th><th>PRODUCT</th><th>PRICE (PER UNIT)</th><th>QUANTITY</th><th></th>
      </tr>
    {% set cnt={'val':1} %}
    {% for item in cart %}
    <tr>
      <td>{{cnt['val']}}</td><td><a href="/viewproduct/{{item[0]}}">{{item[1]}}</a></td><td>{{item[2]}}</td>
      <td><input name="qty{{item[0]}}" value="{{item[3]}}" min="1" max="{{item[4]}}"></td>
      <td><a href="/buy/cart/delete/{{item[0]}}">REMOVE FROM CART</td>
    </tr>
    {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
    {% endfor %}
  </table>
  <p><a href="/buy/cart/delete">EMPTY CART</a></p>
  <input type="submit" value="PROCEED TO ORDER">
  {% endif %}
  </form>
</body>
</html>
