<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="">Sell</a></p>
  </div>
  <ul class="headbar">
    <li><a href="">My Products</a></li>
    <li><a href="./neworders">New Orders</a></li>
    <li><a href="./addproducts">Add New Products</a></li>
    <li><a href="./sales">My Sales</a></li>
  </ul>
  <div class="centerthis">
  <form action="" method="POST" onsubmit="return checkSelect()">
    <h3><input type="radio" value="by keyword" name="search method" checked>Search by keyword</h3>
    <input type="search" name="keyword" value="">
    <br>
   <h3><input type="radio" value="by category" name="search method">Search by category</h3>
   <select name="category">
    <option value="" disabled selected>SELECT CATEGORY</option>
    {% for item in categories %}
    <option value="{{item}}">{{item}}</option>
    {% endfor %}
   </select>
   <br>
   <h3><input type="radio" value="both" name="search method">Both</h3>
   <br>
   <p><input type="submit" value="SEARCH"></p>
 </form>
</div>
 <br><br>
 {% if after_srch %}
  {% if results|length==0 %}
    <p>No results match your search</p>
  {% else %}
 <table>
   <tr>
     <th>SNo.</th><th>Name</th><th>Quantity</th><th>Category</th><th>Price</th><th></th>
   </tr>
   {% set cnt={'val':1} %}
   {% for i in results %}
   <tr>
     <td>{{cnt['val']}}</td> <td>{{i[1]}}</td>  <td>{{i[2]}}</td>    <td>{{i[3]}}</td>  <td>₹ {{i[4]}}</td>  <td><a href="/viewproduct/{{i[0]}}">View</a></td>
   </tr>
   {% if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
   {% endfor %}
 </table>
 {% endif %}
 {% endif %}
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
