<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="/viewprofile/">View Profiles</a></p>
  </div>
  <div class="centerthis">
  <p class="press"><a href="/viewprofile/{{id}}/">My Profile</a></p>
  <p>OR</p>
  <p>Search {{type}}:</p>
  <form action="" method="POST">
    <input type="search" name="search" value="" placeholder="Search by Name">
    <input type="submit" value="Search">
  </form>
  </div>
  {% if after_srch %}
    {% if found %}
    <table>
      <tr>
        <th>SNo.</th><th>NAME</th><th>EMAIL</th><th>PHONE</th><th>ADDRESS</th><th>ZIPCODE</th>
      </tr>
      {% set cnt={'val':1} %}
      {% for items in results %}
      <tr>
        <td>{{cnt['val']}}</td><td><a href="/viewprofile/{{items[0]}}">{{items[1]}}</a></td>
        <td>{{items[2]}}</td><td>{{items[3]}}</td><td>{{items[4]}}, {{items[5]}}, {{items[6]}}, {{items[7]}}, {{items[8]}}</td><td>{{items[9]}}</td>
      </tr>
      {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
      {% endfor %}
    </table>
    {% else %}
    <p>No matching {{type}}s found</p>
    {% endif %}
  {% endif %}
</body>
</html>
