<html>
<body>
  <p><a href="http://localhost:5000/">Home</a> > <a href="http://localhost:5000/signup/">Create Account</a> > <a href="/">Customer</a></p>
  {% if not ok %}
    <p>Sorry! Account with provided email already exists. Please enter another email</p>
  {% endif %}
  <form action="" method="POST">
    <h2>Create New Customer Account:</h2>
    <table>
    <tr>
      <td>NAME :</td><td><input type="text" name="name"></td>
    </tr>
    <tr>
      <td>EMAIL :</td><td><input type="text" name="email"></td>
    </tr>
    <tr>
      <td>PHONE :</td><td><input type="tel" name="phone"></td>
    </tr>
    <tr>
      <td><b>ADDRESS:</b></td>
    </tr>
    <tr>
      <td>LANDMARK/AREA:</td><td><input type="text" name="area"></td>
    </tr>
    <tr>
      <td>LOCALITY :</td><td><input type="text" name="locality"></td>
    </tr>
    <tr>
      <td>CITY :</td><td><input type="text" name="city"></td>
    </tr>
    <tr>
      <td>STATE :</td><td><input type="text" name="state"></td>
    </tr>
    <tr>
      <td>COUNTRY :</td><td><input type="text" name="country"></td>
    </tr>
    <tr>
      <td>ZIPCODE :</td><td><input type="text" name="zip"></td>
    </tr>
    <tr><td></td></tr>
    <tr>
      <td>ENTER PASSWORD :</td><td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td>RE-ENTER PASSWORD :</td><td><input type="password" name="cnfrm_psswd"></td>
    </tr>
    </table>
    <p><input type="submit" value="SUBMIT"></p>
  </form>
</body>
</html>
