<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
  <p><a href="/">Home</a> > <a href="/signup/">Create Account</a></p>
  </div>
  <h3>Successful Signup</h3>
  <p>Account created successfully. &nbsp <a href="/login/">click here to login</a></p>
</body>
</html>
