<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
  <p><a href="/">Home</a> > <a href="/buy">Buy</a> > <a href="">{{name}}</a></p>
  </div>
  <h2>{{name}}</h2>
  <form action="" method="POST">
    <table>
      <tr>
        <td>CATEGORY :</td><td>{{category}}</td>
      </tr>
      <tr>
        <td>DESCRIPTION :</td><td><pre>{{desp}}</pre></td>
      </tr>
      <tr>
        <td>QUANTITY (select quantity):</td><td><input type="number" name="qty" value="1" min="1" max='{{quantity}}'></td>
      </tr>
      <tr>
        <td>PRICE/UNIT :</td><td>₹ {{price}}</td>
      </tr>
    </table>
    <input type="submit" value="PROCEED" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
</body>
</html>
