<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="/sell">Sell</a> > <a href="/viewproduct/">View Product</a> > <a href="/viewproduct/{{prodID}}">{{name}}</a> > <a href="">Edit</a></p>
  </div>
  <h2>Edit Product</h2>
  <form action="" method="POST">
    <table>
      <tr>
        <td>NAME :</td><td><input type="text" name="name" value="{{name}}" required></td>
      </tr>
      <tr>
        <td>QUANTITY :</td><td><input type="number" name="qty" value="{{qty}}" min="0" required></td>
      </tr>
      <tr>
        <td>CATEGORY :</td>
        <td><select name="category" required>
          <option value="Electronics and Tech" {% if category=="Electronics and Tech" %}selected{% endif %}>Electronics and Tech</option>
          <option value="Fashion" {% if category=="Fashion" %}selected{% endif %}>Fashion</option>
          <option value="Educational Utilities" {% if category=="Educational Utilities" %}selected{% endif %}>Educational Utilities</option>
          <option value="Entertainment and Recreation" {% if category=="Entertainment and Recreation" %}selected{% endif %}>Entertainment and Recreation</option>
          <option value="Food and Groceries" {% if category=="Food and Groceries" %}selected{% endif %}>Food and Groceries</option>
          <option value="Daily Utilities" {% if category=="Daily Utilities" %}selected{% endif %}>Daily Utilities</option>
          <option value="Sports" {% if category=="Sports" %}selected{% endif %}>Sports</option>
          <option value="Luggage" {% if category=="Luggage" %}selected{% endif %}>Luggage</option>
        </select></td>
      </tr>
      <tr>
        <td>PRICE :</td><td><input type="number" name="price" value="{{price}}" min="0" required></td>
      </tr>
      <tr>
        <td>DESCRIPTION :</td><td><textarea name="desp">{{desp}}</textarea></td>
      </tr>
    </table>
    <input type="submit" value="Apply Changes" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
</body>
</html>
