<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="/sell">Sell</a> > <a href="">New Orders</a></p>
  </div>
  <h2>New Orders</h2>
  {% if orders|length==0 %}
  <p>You have new orders right now.</p>
  {% else %}
  <table>
    <tr>
      <th>SNO.</th><th>PRODUCT</th><th>QTY. TO DELIVER</th>
      <th>QTY. AVAILABLE</th><th>AMOUNT</th><th>DATE-TIME</th><th>STATUS</th><th></th><th></th>
    </tr>
    {% set cnt={'val':1} %}
    {% for i in orders %}
    <tr>
      <td>{{cnt['val']}}</td><td><a href="/viewproduct/{{i[1]}}">{{i[2]}}</a></td><td>{{i[3]}}</td><td>{{i[4]}}</td>
      <td>₹ {{i[5]}}</td><td>{{i[6]}}</td><td>{{i[7]}}</td>
      {% if i[7]=="PLACED" %}
      {% if i[3]<=i[4] %}
      <td><p class="press"><a href="/dispatch/{{i[0]}}">Dispatch Order</a></p></td>
      {% else %}
      <td>Insufficient Stock</td>
      {% endif %}
      <td><p class="press"><a href="/cancel/{{i[0]}}">Cancel Order</a></p></td>
      {% else %}
      <td></td><td></td>
      {% endif %}
    </tr>
    {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
    {% endfor %}
  </table>
  {% endif %}
</body>
</html>
